# ======================
# Backend (Spring Boot)
# ======================
Backend/target/
*.log

# ======================
# Frontend (React)
# ======================
Frontend/node_modules/
Frontend/build/

# ======================
# IDE Files
# ======================
.idea/
*.iml

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Env Files
# ======================
.env